 button{ border-radius: 10px;
        background-color: red;
        font-size: xx-large;}
dd{font-family: cursive; font-size: larger; }

#page1{background-color: rgb(190, 190, 226);}     
#page2{background-image: url(white\ textured\ background\ image.png);background-repeat: no-repeat;background-size: cover;background-position: center;}
#page3{background-image: url(blue\ textured\ background\ image.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;}
#page4{background-image: url(premium_photo-1661955917112-32d44c5c0f78.jpeg);background-repeat: no-repeat;background-size: cover;background-position: center;}
#page5{background-image: url(1000_F_191949526_DEJzqkMFKT2eBF61ZvE9YbpmPBVfqIot.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;}
#page6{background-image: url(pngtree-background-texture-gradient-pattern-with-vibrant-purple-liquid-image_13779839.png);background-repeat: no-repeat;background-size: cover;background-position: center;}
#page7{background-image: url(watercolor-lime-green-texture-background-abstract-paintings-paper-template-330786095.webp);background-repeat: no-repeat;background-size: cover;background-position: center;}
#page8{background-color: rgb(201, 37, 37);}

















